<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Profile Overview</title>
</head>

<body>
    <div class="card-container">
        <div class="profile-card">
            <img src="user-profile.jpg" alt="Profilbild" id="profileImage">
            <h2 id="name">
                <%= user.vorname %>
                    <%= user.nachname %>
            </h2>
            <p id="email">
                <%= user.email %>
            </p>
            <button id="editProfileButton">Edit Password</button>
            <button id="logoutButton">Logout</button>
            <a href="/contact" id="contactButton">Contakt</a>
        </div>
    </div>
    <script type="module" src="./javascripts/dashboard.js"></script>
</body>

</html>