<div class="language-selector">
    <a href="?lang=de" class="language-option <%= currentLocale === 'en' ? 'selected' : '' %>">
        <img src="/images/Flag_of_Germany.svg.png" alt="German Flag"> Deutsch
    </a> |
    <a href="?lang=en" class="language-option <%= currentLocale === 'de' ? 'selected' : '' %>">
        <img src="/images/Flag_of_the_United_Kingdom.png" alt="UK Flag"> English
    </a>
</div>